.train__class {
    display: grid;
    grid-template-columns: 80px 50px 1fr;
    align-items: baseline;
    margin-bottom: 25px;
}

.train__class-name {
    font-size: 16px;
    font-weight: 400;
    color: #3E3C41;
}

.train__class-ticket-count {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #FFA800;
    background-color: transparent;
    border: none;
    text-align: center;
    /* cursor: pointer; */
}

.train__class-ticket-price {
    color: #928F94;
}

.train__class-ticket-price span {
    margin-left: 5px;
    font-size: 24px;
    font-weight: 700;
    color: #3E3C41;
}

.train__class-ticket-price .icon {
    width: 16px;
    height: 19px;
}