.coach {
    padding-bottom: 73px;
    border-bottom: 1px dashed #C4C4C4;
}

.coach:last-child {
    padding-bottom: 25px;
    border-bottom: none;
}

.coach:not(.coach:first-child) {
    padding-top: 33px;
}

/* Info */
.coach__info {
    display: flex;
}

.coach__main-number {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 161px;
    padding-top: 30px;
    padding-left: 37px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    color: #292929;
    background-color: #FFD98F;
}

.coach__main-number span {
    font-size: 24px;
    font-weight: 400;
}

.coach__seat-box,
.coach__price-box,
.coach__options-box {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-top: 33px;
    margin-left: 113px;
}

.coach__seat-box {
    margin-left: 85px;
}

.coach__title {
    font-size: 18px;
    font-weight: 400;
    color: #928F94;
}

.coach__available-seats span {
    margin-left: 5px;
    font-size: 18px;
    color: #000000;
}

.coach__available-seats-top,
.coach__available-seats-bottom {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}

.coach__available-seats-top span,
.coach__available-seats-bottom span {
    margin-left: 5px;
    font-weight: 700;
}

/* Info Price */

.coach__price-top,
.coach__price-bottom {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

.coach__price-box .icon {
    width: 14px;
    height: 17px;
    color: #928F94;
}

.coach__options-box .coach__title span {
    margin-left: 8px;
    color: #C4C4C4;
    text-transform: uppercase;
}

.coach__options {
    display: flex;
    gap: 13px;
}

/* Message */
.coach__message-box {
    width: 199px;
    margin-right: 42px;
    margin-bottom: 10px;
    margin-left: auto;
    background-color: #F3F3F3;
    border-radius: 5px;
    padding: 16px;
}

.coach__message {
    font-size: 16px;
    font-weight: 400;
    color: #292929;
}

/* Sheme */
.coach__scheme {
    position: relative;
    width: 921px;
    height: 122px;
    margin-left: 20px;
}

.coach__number {
    position: absolute;
    top: -18px;
    left: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 25px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #333333;
    z-index: 5;
}

.coach__center{
    position: absolute;
    top: 4px;
    left: 0;
    display: flex;
    width: 921px;
    height: 119px;
}

.coach__cabin{
    background-image: url("../../../assets/icons/big/coach.svg");
    background-repeat: no-repeat;
}

.coach__cabin--left {
    width: 129px;
    height: 124px;
    background-position: bottom left;
}

.coach__cabin--right {
    width: 70px;
    height: 124px;
    background-position: bottom right;
}

.coach__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    margin-top: 3px;
}

.coach__row-top {
    display: flex;
    justify-content: space-between;
    height: 67px;

    border-top: 4px solid #989898;
    border-right: 4px solid #989898;
    border-left: 4px solid #989898;
}

.coach__row-bottom {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 51px;
    margin-bottom: 2px;

    border-bottom: 4px solid #989898;
    border-right: 4px solid #989898;
    border-left: 4px solid #989898;
}

.coach__row-bottom::after,
.coach__row-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    right: -4px;
    width: 4px;
    height: 22px;
    background-color: #FFFFFF;
}

.coach__row-bottom::before {
    left: -4px;
    height: 46px;
}