.passenger-step {
    padding-top: 95px;
    padding-bottom: 193px;
    background-color: #F7F5F9;
}

.passenger-step .container {
    display: grid;
    grid-template-columns: 360px 1fr;
    column-gap: 87px;
}

.passenger-step__aside-wrapper {
    grid-column: 1 / 2;
}

.passenger-step__aside {
    height: max-content;
    margin-bottom: 0;
}

.passenger-step__main {
    grid-column: 2 / 3;
}

.passenger-step__passenger {
    margin-bottom: 45px;
}

.passenger-step__append {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-right: 35px;
    padding-bottom: 30px;
    padding-left: 23px;
    background-color: #F9F9F9;
    border: 1px solid #C4C4C4;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.25);
}

.passenger-step__append-text {}

.passenger-step__append-btn {
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
}

.passenger-step__append-btn span {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../../assets/icons/small/plus.svg");
}

.passenger-step__then-btn {
    height: 60px;
    width: 226px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}