.ticket-step {
    padding-top: 95px;
    padding-bottom: 122px;
    background-color: #F7F5F9;
}

.ticket-step .container {
    display: grid;
    grid-template-columns: 360px 1fr;
    column-gap: 87px;
}

.ticket-step__aside-wrapper {
    grid-column: 1 / 2;
}

.ticket-step__aside {
    height: max-content;
    margin-bottom: 96px;
}

.ticket-step__main {
    grid-column: 2 / 3;
    max-width: 959px;
}