.button {
    /* height и padding - у всех разный*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;

    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    transition: color 0.3s ease;
}

.button--yellow {
    color: #FFFFFF;
    background-color: #FFA800;
    border: 1px solid #FFA800;
}

.button--light {
    color: #292929;
    background-color: #FFFFFF;
    border: 1px solid #292929;
}

.button--transparent {
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #E5E5E5;
}

.button--uppercase {
    text-transform: uppercase;
}

/* ===== Состояния ===== */
.button--yellow:active {
    color: #FFA800;
    background-color: #FFFFFF;
    border: 1px solid #FFA800;
}

.button--light:hover {
    color: #FFA800;
    background-color: #FFFFFF;
    border: 1px solid #292929;
}

.button--light:active {
    color: #292929;
    background-color: #FFA800;
    border: 1px solid #FFA800;
}

.button--transparent:hover {
    color: #2D2B2F;
    background-color: #FFCA62;
    border: 1px solid #FFCA62;
}

.button--transparent:active {
    color: #2D2B2F;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.button--yellow:disabled,
.button--light:disabled {
    color: #FFFFFF;
    background-color: #928F94;
    border: 1px solid #928F94;
    cursor: default;
}