.coach-fourth {
    position: relative;
    width: 921px;
    height: 145px;

}

.coach-fourth__message-box {}
.coach-fourth__message {}

.coach-fourth__number {}


.coach-fourth__scheme {
    position: absolute;
    top: 3px;
    left: 0;
    display: flex;
    width: 921px;
    height: 119px;
}

.coach-fourth__cabin {
    background-image: url("../../assets/icons/big/coach.svg");
    background-repeat: no-repeat;
    
}
.coach-fourth__cabin--left {
    width: 129px;
    height: 124px;
    background-position: bottom left;
}
.coach-fourth__cabin--right {
    width: 70px;
    height: 124px;
    background-position: bottom right;
}

.coach-fourth__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    margin-top: 3px;
}

.coach-fourth__row-top {
    display: flex;
    justify-content: space-between;
    height: 68px;
    border-top: 5px solid #989898;
    border-right: 5px solid #989898;
    border-left: 5px solid #989898;
}

.coach-fourth__row-bottom {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 50px;
    border-bottom: 5px solid #989898;
    border-right: 5px solid #989898;
    border-left: 5px solid #989898;
    margin-bottom: 2px;
}

.coach-fourth__row-bottom::after,
.coach-fourth__row-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 28px;
    background-color: #FFFFFF;
}

.coach-fourth__row-bottom::before {
    left: -5px;
    height: 44.6px;
}

.coach-fourth__cell {

}

.coach-fourth__cell.coach-fourth__cell--single-bottom:last-child {

}

.coach-fourth__seat-wrapper {
    max-height: 22px;
}

.coach-fourth__row-top .coach-fourth__seat-wrapper {
    padding-top: 4px;
    padding-left: 9px;
    padding-right: 9px;
    
}

.coach-fourth__row-bottom .coach-fourth__seat-wrapper {
    margin-bottom: 2px;
    padding-left: 9px;
    padding-right: 9px;
}

.coach-fourth__row-top .coach-fourth__seat-wrapper:nth-child(2n) {
    padding-top: 2px;
}

.coach-fourth__row-bottom .coach-fourth__seat-wrapper:nth-child(2n) {
    margin-bottom: 4px;
}

.coach-fourth__seat{
    width: 26px;
    height: 18px;
    border: none;
}
