.hero--home {
    height: 985px;
    max-height: 100vh;
    min-height: 600px;
    background-image: url("/images/bg__header.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-bottom: 8px solid #FFA800;
}

.hero--home .container {
    position: relative;
    height: 100%;
}