.ticket-seats__title {
    margin-top: 5px;
    margin-bottom: 50px;
}

.ticket-seats .ticket-seats-box {
    margin-bottom: 29px;
}

.ticket-seats .ticket-seats--arrival {
    margin-bottom: 0;
}

/* Button */
.ticket-seats__then-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 101px;
    margin-left: auto;
    width: 222px;
    height: 60px;
}