/* Строки */
.coach-fourth .coach__row-top{
    padding-top: 6px;
}

.coach-fourth .coach__row-bottom{
    padding-bottom: 6px;
}

.coach-fourth .coach__row-top,
.coach-fourth .coach__row-bottom  {
    padding-left: 11px;
    padding-right: 11px;
}

/* Ячейки */
.coach-fourth .seat-cell--pair {
    gap: 3px;
}

.coach-fourth .coach__row-bottom .seat-cell--pair {
    flex-direction: column;
}

.coach-fourth .seat-cell__seat {
    height: 18px;
}