.coach-list__coach-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 5px;
    padding-right: 17px;
    padding-bottom: 5px;
    padding-left: 33px;
    background-color: rgba(255, 168, 0, 0.44);
}

.coach-list__wrapper {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.coach-list__label {
    font-size: 18px;
    font-weight: 400;
    color: #292929;
}

.coach-list__checkbox {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    cursor: pointer;
}

.coach-list__checkbox:has(.checkbox__input:checked) {
    color: #FFFFFF;
}

.coach-list__text {
    font-size: 16px;
    font-weight: 400;
    color: #292929;
}

.coach-list__coach-wrapper {
    position: relative;
}

.coach__checked-total-price {
    position: absolute;
    bottom: 19px;
    right: 32px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #FFA800;
    opacity: 0;
}

.coach-list:has(.checkbox__input:checked) .coach__checked-total-price {
    opacity: 1;
}

.coach__checked-total-price .icon {
    width: 14px;
    height: 17px;
    margin-left: 10px;
    color: #928F94;
}