.header {
    padding-top: 15px;
    font-family: Roboto, sans-serif;
    
}

.header__navigation {
    padding-top: 26px;
    padding-bottom: 25px;
    background-color: #292929;
}

.header__list {
    display: flex;
    gap: 83px;
}

.header__nav-link {
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
    color: #FFFFFF;
}