.form-subscription {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #E5E5E5;
}

.form-subscription__label {
    display: block;
    margin-bottom: 20px;
    font-weight: 400;
}

.form-subscription__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
}

.form-subscription__input {
    flex-grow: 1;
    max-width: 447px;
    height: 60px;
    padding: 0 21px;
    font-size: 24px;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
}

.form-subscription__input::placeholder {
    font-size: 24px;
    color: #E5E5E5;
}

.button.form-subscription__btn {
    height: 60px;
    padding: 0 15px;
    font-weight: 400;
    color: #E5E5E5;
    border-radius: 3px;
}