/* ================= Footer ================= */
.footer {
    font-family: "Roboto", sans-serif;
    color: #E5E5E5;
    background-color: #2D2B2F;
}

.footer__grid {
    display: grid;
    grid-template-columns: 1fr 48px 1fr;
    grid-template-rows: repeat(2, auto);
    padding: 52px 62px 52px 86px;
    row-gap: 44px;
}

/* ===== Contacts ===== */
.footer__contacts {
    grid-row: span 2;
    min-width: 270px;
    margin-right: 50px;
}

.footer__title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
}

.footer__contacts-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.footer__contacts-item {
    font-size: 24px;
    font-weight: 400;
}

.footer__contacts-link {
    display: flex;
    color: #FFFFFF;
    cursor: pointer;
}

.footer__contacts-link .contacts-icon,
.footer__contacts-address .contacts-icon {
    color: #E5E5E5;
    width: 30px;
    margin-right: 36px;
}

.footer__contacts-address {
    display: flex;
    align-items: flex-start;
    font-style: normal;
    color: #FFFFFF;
}

/* ===== Form ===== */
.footer__form {
    grid-column: 2 / 4;
}

/* ===== Social Subscription ===== */
.footer__subscription {
    grid-column: 2 / 4;
    min-width: 370px;
}

.footer__subscription-list {
    display: flex;
    column-gap: 48px;
}

.footer__subscription-link {
    color: #E5E5E5;
    transition: color 0.3s ease;
}

/* ===== Bottom ===== */
.footer__bottom {
    border-top: 1px solid #E5E5E5;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 48px 1fr;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer__back-to-top {
    margin-right: 50px;
    background-color: transparent;
    border: none;
}

.footer__year {
    margin-right: 50px;
    justify-self: end;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.footer__arrow-top {
    margin-right: 50px;
    cursor: pointer;
}

/* ===== Состояния ===== */
.footer__subscription-link:hover .social-icon {
    color: #FFCA62;
}