.train-list {
    width: 959px;
}

.train-list__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;
    font-size: 18px;
    font-weight: 400;
    color: #928F94;
}

.train-list__controls {
    display: flex;
}

.train-list__sorting {
    display: flex;
    margin-right: 10px;
}

.train-list__sorting__label {
    margin-right: 10px;
}

.train-list__sorting-select {
    width: 139px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    background-color: transparent;
}

.train-list__sorting-select .custom-select__option {
    width: 139px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

.train-list__sorting-select .custom-select__list {
    top: -9px;
    left: -8px;
}

.train-list__sorting-select .custom-select__option {
    padding: 8px 11px 10px 7px;
}

.train-list__per-page {
    display: flex;
}

.train-list__per-page-label {
    margin-right: 5px;
}

.train-list__per-page-item {
    margin-right: 5px;
}

.train-list__item {
    margin-bottom: 47px;
}

.train-list__item:last-child {
    margin-bottom: 0;
}

.train-list__pagination {
    display: flex;
    justify-content: end;
    margin-top: 142px;
}