.ticket-seats-box {
    background-color: #FFFFFF;
    border: 1px solid rgba(196, 196, 196, 1);
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.25);
}

/*  */
.ticket-seats-box__choose-another {
    display: flex;
    margin-bottom: 32px;
    padding-top: 36px;
    padding-left: 19px;
}

.ticket-seats-box--arrival .ticket-seats-box__choose-another {
    justify-content: end;  
    padding-left: 0;
    padding-right: 24px;
}

.ticket-seats-box__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 60px;
    margin-right: 10px;
    background-color: #FFA800;
    border-radius: 5px;
}

.ticket-seats-box__icon-box .icon {
    width: 30px;
    height: 20px;
    color: #FFFFFF;
}

.ticket-seats-box--arrival .ticket-seats-box__icon-box .icon {
    transform: rotate(180deg);
}

.ticket-seats-box__btn {
    width: 325px;
    height: 60px;    
}

/* Train */
.ticket-seats-box__train {
    display: grid;
    grid-template-columns: 240px 480px 237px;
    height: 123px;
    margin-bottom: 40px;
    background-color: #F7F6F6;
}

.ticket-seats-box__train-info {
    display: flex;
    align-items: center;
    padding-left: 35px;
    border-right: 1px solid #FFFFFF;
}

.ticket-seats-box__train-info-icon-box {
    margin-right: 27px;
}

.ticket-seats-box__icon {
    width: 30px;
    height: 30px;
}

.ticket-seats-box__number {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 500;
    color: #3E3C41;
}

.ticket-seats-box__city {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}

.ticket-seats-box__starting-city {
    color: #928F94;
}

/* Travel */
.ticket-seats-box__travel-info {
    display: grid;
    grid-template-columns: 1fr 45%;
    align-content: center;
    gap: 20px;
    padding-left: 36px;
    padding-right: 36px;
    border-right: 1px solid #FFFFFF;
}

.ticket-seats-box .travel-info__time-way-time {
    opacity: 0;
}

.ticket-seats-box--arrival .ticket-seats-box__travel-info .travel-info__way-box .icon {
    transform: rotate(180deg);
}

/* Time */
.ticket-seats-box__time-way {
    display: flex;
    align-items: center;
    padding-left: 35px;
    padding-right: 36px;
}

.ticket-seats-box__time-way .ticket-seats-box__icon {
    margin-right: 10px;
}

.ticket-seats-box__time-way-time {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

/* Tickets category */
.ticket-seats-box__tickets-number {
    padding-bottom: 51px;
    border-bottom: 1px dashed #C4C4C4;
}

h3.title.ticket-seats-box__tickets-number-title {
    font-weight: 700;
    margin-bottom: 25px;
    padding-left: 19px;
}

.ticket-seats-box__ticket-category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ticket-seats-box__ticket-category__box {
    height: 192px;
    padding-top: 23px;
    padding-left: 31px;
    border: 1px solid transparent;
}

.ticket-seats-box__ticket-category__box:first-child {
    padding-left: 35px;
} 

.ticket-seats-box__ticket-category__box:hover {
    border: 1px solid rgba(255, 168, 0, 0.79);
}

.ticket-seats-box__ticket-category__box:focus-within {
    background-color: #F7F6F6;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.ticket-seats-box__ticket-category__box:focus-within:hover {
    border: 1px solid transparent;
}

.ticket-seats-box__ticket-category__label {
    display: block;
    width: 240px;
    height: 50px;
    margin-bottom: 23px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 400;
    color: #292929;
    border: 1px solid #928F94;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.ticket-seats-box__ticket-category__input {
    width: 25px;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    color: #292929;
    margin: 0;
}

.ticket-seats-box__ticket-category__input::-webkit-outer-spin-button,
.ticket-seats-box__ticket-category__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ticket-seats-box__ticket-category__text {
    font-size: 16px;
    font-weight: 400;
    color: transparent;
}

.ticket-seats-box__ticket-category__box:focus-within:hover .ticket-seats-box__ticket-category__text,
.ticket-seats-box__ticket-category__box:focus-within .ticket-seats-box__ticket-category__text {
    color: #000000;
}

.ticket-seats-box__ticket-category__box:hover .ticket-seats-box__ticket-category__text {
    color: #928F94;
}

/* Tickets Class */
.ticket-seats-box__class {
    margin-top: 28px;
}

.ticket-seats-box__class-title {
    margin-bottom: 25px;
    padding-left: 19px;
}

.ticket-seats-box__class-list {
    display: flex;
    padding-left: 35px;
    margin-bottom: 25px;
}

.ticket-seats-box__class-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-right: 150px;
}

.ticket-seats-box__class-item .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 18px;
    color: #918F94;
}

.ticket-seats-box__class-radio {
    font-size: 24px;
    font-weight: 400;
    color: #918F94;
}

.ticket-seats-box__class-radio .radio__input:checked + .radio__label,
.ticket-seats-box__class-item:has(.radio__input:checked) .icon {
    color: #FFA800;
}