/* Базовая ячейка */
.seat-cell {}

/* Ячейка с парой мест */
.seat-cell--pair {
    display: flex;
    flex-direction: column;
}

.coach__row-bottom .seat-cell--pair {
    flex-direction: row-reverse;
}

/* Ячейка с одиночным местом */
.seat-cell--single-bottom {}

/* Wrapper для кнопки места */
.seat-cell__wrapper {
    line-height: 1;
}

/* Пустой wrapper (для выравнивания в одиночном месте) */
.seat-cell__wrapper--empty {}

/* Кнопка места */
.seat-cell__seat {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height - в вагоне класса */
    width: 27px;
    font-size: 12px;
    font-weight: 700;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    cursor: pointer;
}

/* Верхнее место */
.seat-cell__seat--top {}

/* Нижнее место */
.seat-cell__seat--bottom {}

/* Недоступное место */
.seat-cell__seat--unavailable {
    color: #FFFFFF;
    background-color: #cccccc;
    border: 2px solid #cccccc;
}

/* Выбранное место */
.seat-cell__seat--selected {
    border: 2px solid #FFA800;
}