.filter {
    width: 100%; 
}

.filter__date {
    padding-right: 36px;
    padding-left: 44px;
    padding-bottom: 33px;
}

.filter__date-box {
    margin-bottom: 26px;
}

.filter__date-box:last-child {
    margin-bottom: 0;
}

h3.title.filter__title {
    margin-bottom: 20px;
    font-weight: 400;
}

.filter__direction h3.title.filter__title {
    margin-bottom: 0;
    font-weight: 700;
}

.filter__input-date {

}

.filter__input-date .icon {
    
}

.filter__list {
    padding-right: 36px;
    padding-left: 44px;
    padding-bottom: 21px;
}

.filter__item {
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-template-rows: 28px;
    align-items: center;
    gap: 34px;
    margin-bottom: 34px;
    padding-left: 30px;
}

.filter__price {
    padding-right: 36px;
    padding-left: 44px;
    padding-bottom: 32px;
}

.filter__slider-label {
    display: flex;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 400;
}

.filter__slider-label--price {
    justify-content: space-between;
}

.filter__collapse-box:nth-child(2) .filter__slider-label--direction {
    justify-content: end;
}

.filter__price-slider {

}

.filter__direction {
    height: auto;
}

.filter__direction-box {
    display: flex;
    justify-content: space-between;
    padding-right: 36px;
    padding-left: 44px;
}

.filter__direction {

}

.filter__direction--forth {
    margin-bottom: 34px;
}

.filter__direction--back {

}

.filter__direction .collapse {
    margin-right: 10px;
    padding-right: 36px;
    padding-left: 44px;
}

.filter__direction-box {
    margin-bottom: 0;
    transition: margin-bottom 0.4s ease-in-out;
}

.filter__direction-box.is-open {
    margin-bottom: 20px;
}

.filter__collapse-btn {
    
}

.filter__collapse {
    width: 100%;
}

.filter__collapse-box {
    margin-bottom: 45px;
}

.filter__collapse-box:last-child {
    margin-bottom: 0;
}

