*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input:focus {
    outline: none;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1400px;
    min-width: 375px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}