@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-VariableFont.woff2") format("woff2"),
    url("./assets/fonts/Roboto-VariableFont.woff") format("woff"),
    url("./assets/fonts/Roboto-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Italic-VariableFont.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Italic-VariableFont.woff") format("woff"),
    url("./assets/fonts/Roboto-Italic-VariableFont.ttf") format("truetype"); 
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input:focus {
    outline: none;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1400px;
    min-width: 375px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}