.how {
    padding-top: 69px;
    padding-bottom: 110px;
    background-image: url("/images/bg__how-it-works.webp");
}

.how .container {
    position: relative;
}

.how__title {
    margin-bottom: 107px;
    font-size: 36px;
    font-weight: 500px;
    line-height: 1;
    color: #FFFFFF;
    text-transform: uppercase;
}

.how__list {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    color: #E5E5E5;
    text-align: center;
}

.how__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
}

.how__item-icon {
    width: 162px;
    height: 162px;
}

.how__btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px 77px 15px 76px;
}